
li.list-group-item.active {
    background-color: blueviolet;
    
}

h1 {
    text-align: center;
    font-size: 400%;
}


li.list-group-item.active {
    text-align: center;
}
        
.list-group {margin-right: 250px;}

.champions {
    margin-top: 30px;
    width: 400px;
    position: absolute;
    right: 560px;
    top: 120px;

}

.unit-avatar {
    width: 75px; 
    height: 75px; 
    float: left;
    padding: 5px;
    margin-top: 5px;
    border-radius: 10px;
}

.unit-avatar:hover {
    border: 2px solid yellow;

}

.red-border {
    border: 2px solid red;
}

.hex img {
    margin-top: -16;
    margin-left: -5px;
    border: 5px solid green;
    clip-path: polygon(48% 0, 105% 24%, 100% 75%, 50% 100%, 0 75%, 0 22%);
}

.hide-hex {
    display: none;
}

.list-group-item {
    color: black;
}

.list-group-item:hover {
    background-color: yellow;
    cursor: pointer;
}

.hexBottom {
    pointer-events: none;
}

.hexTop {
    pointer-events: none;
}

#reset-board {
    position: absolute;
    top: 115px;
    left: 75px;
    width: 100px;
}

#name {
    position: absolute;
    top: 115px;
    left: 265px;
}

#submit {
    position: absolute;
    top: 112px;
    left: 465px;
}

.hex:hover {
    background-color: lightcoral;   
}

button[type="delete"] {
    position: absolute;
    top: 75px;
    right: 250px;
}
